.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;

  /* background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.2)
  ); */

  z-index: 100;
  box-sizing: border-box;
}

.logo {
  width: 160px;
  height: auto;
  object-fit: contain;
}

.userSection {
  display: flex;
  align-items: center;
  gap: 15px;
}

.userName {
    color: wheat;
  font-size: 18px;
  font-weight: 600;
   border-radius: 5px;

  background-color: #e50914;
}

.userIcon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.signOutBtn {
  padding: 8px 16px;

  border: none;
  border-radius: 5px;

  background-color: #e50914;
  color: white;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

.signOutBtn:hover {
  background-color: #b20710;
}